extends ../../layouts/default.pug

block main 
    .chat-display-container 
        .chat-display 
            .box.box-ai.intro 
                | Xin chào, tôi có thể giúp gì cho bạn!

    .chat-input-container
        div(class="waiting-response")
        .chat-input 
            textarea(
                rows="1"
                name="message"
                class="chat-form"
                placeholder="Message TourGuideBox"
            )
            button(id="send-button") 
                i(
                    class="fa-solid fa-paper-plane"
                )