extends ../../layouts/default.pug

block main 
    .chat-display-container 
        .chat-display 
            .box.box-user
                | For example, use the following code to serve images, 
                | CSS files, and JavaScript files in a directory named public: 
            .box.box-ai 
                | http://localhost:3000/static/images/kitten.jpg
                | http://localhost:3000/static/css/style.css
                | http://localhost:3000/static/js/app.js
                | http://localhost:3000/static/images/bg.png
                | http://localhost:3000/static/hello.html
            .box.box-user
                | For example, use the following code to serve images, 
                | CSS files, and JavaScript files in a directory named public: 
            .box.box-ai 
                | http://localhost:3000/static/images/kitten.jpg
                | http://localhost:3000/static/css/style.css
                | http://localhost:3000/static/js/app.js
                | http://localhost:3000/static/images/bg.png
                | http://localhost:3000/static/hello.html
            .box.box-user
                | For example, use the following code to serve images, 
                | CSS files, and JavaScript files in a directory named public: 
            .box.box-ai 
                | http://localhost:3000/static/images/kitten.jpg
                | http://localhost:3000/static/css/style.css
                | http://localhost:3000/static/js/app.js
                | http://localhost:3000/static/images/bg.png
                | http://localhost:3000/static/hello.html
            .box.box-user
                | For example, use the following code to serve images, 
                | CSS files, and JavaScript files in a directory named public: 
            .box.box-ai 
                | http://localhost:3000/static/images/kitten.jpg
                | http://localhost:3000/static/css/style.css
                | http://localhost:3000/static/js/app.js
                | http://localhost:3000/static/images/bg.png
                | http://localhost:3000/static/hello.html

    .chat-input-container
        .chat-input 
            textarea(
                rows="1"
                name="message"
                class="chat-form"
                placeholder="Message TourGuideBox"
            )
            button(id="send-button") 
                i(
                    class="fa-solid fa-paper-plane"
                    
                )